<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/mobile-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="header">
            <a href="/recherchermobile"><img src="/mobile-img/icon-menu.png" class="icon-menu"/></a>
			<div class="font-logo">Yes we scan</div>
			<img src="/mobile-img/icon-back.png" class="icon-back"/>
		</div>
		<div class="content">
			<div class="sentence1">
                Statistiques du sondage #<span class="num-survey"><%=  data.id %></span></br> créé par <span class="creator-name">Peter Shoe</span>
            </div>
			<div class="sentence2"><%=  data.question %></div>
			<div class="sentence3"><%=  data.contexte %></div>
			<div class="reponses-stats">
				<div id="camenber">
                    <div id="pourcentage">
                        <%if (data.r1) {%>
                        <div class="div-pourcentage">
                            <div class="carre r1"></div>
                            <div class="chiffres"><%=  data.r1 %> : <%= (data.vote1*100/data.somme).toFixed(2) %>%</div>
                        </div>
                        <%}%>
                        <%if (data.r2) {%>
                        <div class="div-pourcentage">
                            <div class="carre r2"></div>
                            <div class="chiffres"><%=  data.r2 %> : <%= (data.vote2*100/data.somme).toFixed(2) %>%</div>
                        </div>
                        <%}%>
                        <%if (data.r3) {%>
                        <div class="div-pourcentage">
                            <div class="carre r3"></div>
                            <div class="chiffres"><%=  data.r3 %> : <%= (data.vote3*100/data.somme).toFixed(2) %>%</div>
                        </div>
                        <%}%>
                        <%if (data.r4) {%>
                        <div class="div-pourcentage">
                            <div class="carre r4"></div>
                            <div class="chiffres"><%=  data.r4 %> : <%= (data.vote4*100/data.somme).toFixed(2) %>%</div>
                        </div>
                        <%}%>
                        <%if (data.r5) {%>
                        <div class="div-pourcentage">
                            <div class="carre r5"></div>
                            <div class="chiffres"><%=  data.r5 %> : <%= (data.vote5*100/data.somme).toFixed(2) %>%</div>
                        </div>
                        <%}%>
                    </div>
                    <script src="/js/Chart.js"></script>
                    <canvas id="canvas" height="150" width="150"></canvas>
                    <script>
                        var pieData = [
                                {
                                    value: <%= data.vote1*100/data.somme %>,
                                    color:  "#33b4e5"
                                },
                                {
                                    value : <%= data.vote2*100/data.somme %>,
                                    color : "#aa66cc"
                                },                
                                {
                                    value : <%= data.vote3*100/data.somme %>,
                                    color : "#99cc00"
                                },  
                                {
                                    value : <%= data.vote4*100/data.somme %>,
                                    color : "#ffbb33"
                                },
                                {
                                    value : <%= data.vote5*100/data.somme %>,
                                    color : "#ff4343"
                                }
                            
                            ];
                        var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData);
                    </script>
                    </div>
				</div>
			</div>
		</div>
        <div class="footer">
            <div class="aligner"></div>
            <a href="/consultationmobile/<%= data.id %>"><img src="/mobile-img/icon-signaler.png"></a>
            <a href="/sondage-mobile/<%=  data.id %>"><img src="/mobile-img/icon-voter.png"></a>
            <a href="/mobile/vote/<%=  data.id %>/1"><img src="/mobile-img/icon-statistiques.png"></a>
            <img src="/mobile-img/icon-suivre.png">
        </div>
	</body>
</html>